*{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 21, 21);
}

.div_mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1{
    font-size: 30px;
    color: rgb(0, 153, 255);
}